# Configuraciones Generales
APP_PORT=8000
BASE_PATH=http://localhost:${APP_PORT} # <- Dejar asi en modo desarrollo
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

# Configuraciones de desarrollo
PMA_HOST=db # <- Dejar como está
PMA_USER=
PMA_PASSWORD=

# Variables visibles en PHP
APP_ENVIRONMENT=development
